<h2>Listado de postres</h2>
<table class="table align-middle">     
    <thead>
        <tr>
            <th>Postre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Agregar</th>
        </tr>
    </thead>
    <tbody>
        @for (dessert of desserts; track dessert.name ) {
            <tr>
              <td>{{ dessert.name }}</td>
              <td [ngClass]="{'onSale': dessert.onSale}">{{ dessert.price | currency}}</td>
              @if (dessert.stock >= 4) {
                <td class="badge text-bg-success">{{ dessert.stock }}</td>
              } 
              @else if (dessert.stock > 0 && dessert.stock < 4) {
                <td class="badge text-bg-warning">{{ dessert.stock }}</td>
              }
              @else {
                <td class="badge text-bg-danger">SIN STOCK</td>
              }
              <td><img [src]="dessert.image"></td>
              
                @if (dessert.stock > 0) {
                  <td>
                  <app-input-number [(quantity)]="dessert.quantity" [max]="dessert.stock"></app-input-number>

                  <button class="btn btn-success" (click)="addToCart(dessert)">Comprar</button>
                </td>
                } 
            </tr>
          } @empty {
            <tr>
              <td colspan="4">No hay postres para mostrar. Comilones.</td>
            </tr>
          }
    </tbody>
</table>

